{% extends 'base.html' %}

{% block content %}
<div class="container" style="font-size:23px; font-weight: bolder;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="font2">Search results for {{message}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        {% if profiles %}
            {% for profile in profiles %}
            <div class="card" style="width: 18rem;border:hidden;">
                <a href="{% url 'profile' username=profile.user.username %}" class="btn btn-primary" style="font-size:21px;">View Profile</a>
                {% if profile.profile_photo %}
                <p>USERNAME: {{profile.user.username}}</p>
                <img class="card-img-top" src="{{profile.profile_photo.url}}" alt="Card image cap" class="img-responsive"  style="height:400px;width:400px;border-radius:20px;">
                <div class="card-body">
                <h5 class="card-title" style="font-weight:bolder;font-size:18px;">BIO: {{profile.bio}} </h5>
                {% endif %}
            </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col-md-12 text-center">
                <h4 class="font1">No results for {{message}} </h4>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}